@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../font/GoogleSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('../font/GoogleSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'GoogleSans-Medium';
    src: url('../font/GoogleSans-Medium.ttf') format('truetype');
}