// table 
::ng-deep .ant-table-thead>tr>th {
    font-family: "GoogleSans-Bold";
    font-size: 18px;
    color: #3a3939;
    background: #f8f9fb;
    border-bottom: 0;
}

::ng-deep .ant-table-tbody>tr>td {
    font-family: 'GoogleSans-Medium';
    font-size: 16px;
    color: var(--text-color);
}

::ng-deep .ant-pagination-item-active,
::ng-deep .ant-pagination-item-active:hover {
    border-color: var(--primary-color);
}

::ng-deep .ant-pagination-item-active a,
::ng-deep .ant-pagination-item-active:hover a {
    color: var(--primary-color);
    font-family: 'GoogleSans-Medium';
    font-size: 16px;
}

::ng-deep .ant-table-container table>thead>tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

::ng-deep .ant-table-container table>thead>tr:first-child th:last-child {
    border-top-right-radius: 10px;
}