.auth-doc-profile-section {
    min-height: 100vh;
    height: 100%;
    padding-top: 80px;
    overflow-y: auto;
    display: flex;
    user-select: none;
    font-family: 'GoogleSans-Regular';
    background-color: var(--bg-color);
    .auth-doc-profile {
        min-width: 1200px;
        max-width: 1200px;
        width: 100%;
        margin: auto;
        background: white;
        padding: 50px;
        border-radius: 10px;
        box-shadow: 0px 0px 25px 0px var(--box-shadow);
        .auth-doc-profile-title {
            font-family: 'GoogleSans-Medium';
            font-size: 34px;
        }
    }
     ::ng-deep .ant-steps {
        // max-width: 800px;
        // min-width: 800px;
        margin: 0 auto;
    }
     ::ng-deep .ant-steps-item-icon {
        width: 42px;
        height: 42px;
        line-height: 42px;
        font-size: 20px;
        font-family: 'GoogleSans-Medium';
        color: var(--font-color);
        border: 2px solid var(--text-color);
    }
     ::ng-deep .ant-steps-item-finish .ant-steps-item-icon {
        border: 2px solid var(--primary-color);
    }
     ::ng-deep .ant-steps-item-title {
        line-height: 42px;
        font-size: 16px;
        font-family: 'GoogleSans-Medium';
        color: var(--text-color);
    }
     ::ng-deep .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
        color: var(--heading-color);
    }
    //  ::ng-deep .ant-steps-item-container {
    //     text-align: center;
    // }
    //  ::ng-deep .ant-steps-item-content {
    //     display: block;
    // }
     ::ng-deep .ant-steps-item-process .ant-steps-item-icon {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
        // display: inline-block;   
    }
     ::ng-deep .ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon {
        color: var(--primary-color);
    }
     ::ng-deep .ant-steps-item-title::after {
        height: 2px;
        top: 22px;
    }
     ::ng-deep .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after {
        background-color: var(--primary-color);
    }
    .steps-content {
        margin-top: 16px;
    }
    .steps-action {
        margin-top: 24px;
    }
     ::ng-deep .ant-form-item {
        display: block;
        text-align: left;
    }
    input,
     ::ng-deep .ant-select {
        height: 42px;
        border-radius: 4px;
        width: 100%;
        border: 1px solid var(--text-color);
        outline: 0;
        padding: 0 15px;
    }
    textarea {
        border: 1px solid var(--text-color);
        outline: 0;
        padding: 15px 15px;
        border-radius: 4px;
    }
    .btn {
        border-radius: 4px;
    }
     ::ng-deep .ant-select:not(.ant-select-disabled):hover .ant-select-selector,
     ::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
        height: 42px;
        padding: 0;
        align-items: center;
    }
     ::ng-deep .ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
        height: 42px;
    }
     ::ng-deep .ant-form-item-label>label,
     ::ng-deep .ant-checkbox-wrapper {
        color: var(--heading-color);
    }
     ::ng-deep .ant-form-item {
        display: block;
    }
     ::ng-deep .ant-checkbox-wrapper:hover .ant-checkbox-inner,
     ::ng-deep .ant-checkbox:hover .ant-checkbox-inner {
        border-color: var(--button);
    }
     ::ng-deep .ant-form-item-label>label::after {
        content: '';
    }
     ::ng-deep .ant-input-group>.ant-input:last-child {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
     ::ng-deep .ant-input-group-addon {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-color: var(--text-color);
    }
     ::ng-deep .ant-select-single .ant-select-selector .ant-select-selection-item {
        font-family: 'GoogleSans-Medium';
    }
     ::ng-deep .ant-input-focused,
     ::ng-deep .ant-input:focus {
        border-color: var(--primary-color);
        box-shadow: none;
    }
     ::ng-deep .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
        border-color: transparent;
        background-color: transparent;
        box-shadow: none;
    }
     ::ng-deep .ant-upload>.ant-btn {
        height: 42px;
        border: 1px solid var(--text-color);
        border-radius: 4px;
    }
    .center-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            width: 200px;
        }
    }
     ::ng-deep .ant-select-single .ant-select-selector .ant-select-selection-search {
        left: 0;
    }
     ::ng-deep .ant-btn:hover {
        color: var(--primary-color);
    }
    [nz-radio] {
        display: block;
        padding: 10px 10px;
        font-size: 16px;
    }
     ::ng-deep .ant-radio-group {
        border: 1px solid var(--border-color);
        width: 100%;
        padding: 15px;
    }
     ::ng-deep .ant-radio-checked::after {
        border: 1px solid var(--primary-color);
    }
     ::ng-deep .ant-radio:hover .ant-radio-inner,
     ::ng-deep .ant-radio-checked .ant-radio-inner,
     ::ng-deep .ant-radio-input:focus+.ant-radio-inner,
     ::ng-deep .ant-radio-wrapper:hover .ant-radio,
     ::ng-deep .ant-radio:hover .ant-radio-inner {
        border-color: var(--primary-color);
    }
     ::ng-deep .ant-radio-inner::after {
        background-color: var(--primary-color);
    }
}

::ng-deep .ant-modal-footer {
    display: none;
}

.upload-proof {
    h4 {
        font-size: 18px;
        font-family: 'GoogleSans-Medium';
    }
    p {
        color: var(--text-color);
        font-size: 14px;
    }
}

::ng-deep .ant-modal-body {
    padding: 50px 40px;
}

::ng-deep .ant-upload.ant-upload-drag {
    background-color: transparent;
    border: 1px dashed var(--primary-color);
    border-radius: 4px;
}

::ng-deep .ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover {
    border-color: var(--primary-color);
}

::ng-deep .ant-upload.ant-upload-drag .ant-upload-drag-container {
    color: var(--primary-color);
    font-size: 16px;
    font-family: 'GoogleSans-Medium';
}

::ng-deep .ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover .ant-upload-drag-container {
    color: var(--primary-color);
}

::ng-deep .ant-modal-close {
    display: none;
}

::ng-deep .ant-modal-header {
    padding: 40px 40px 0;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
}

::ng-deep .ant-modal-title {
    font-size: 30px;
    text-align: center;
    font-family: 'GoogleSans-Bold';
    color: var(--heading-color);
}

::ng-deep .ant-modal-content {
    border-radius: 4px;
}

.upload-two-card {
     ::ng-deep .ant-upload.ant-upload-drag {
        height: 120px;
        width: 120px;
        margin-right: 20px;
        .anticon {
            font-size: 22px;
            display: block;
            margin-bottom: 5px;
        }
    }
}