.upload-section {
    .upload-proof {
        h4 {
            font-size: 18px;
            font-family: 'GoogleSans-Medium';
        }
        p {
            color: var(--text-color);
            font-size: 14px;
        }
    }
     ::ng-deep .ant-upload.ant-upload-drag {
        background-color: transparent;
        border: 1px dashed var(--primary-color);
        border-radius: 4px;
    }
     ::ng-deep .ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover {
        border-color: var(--primary-color);
    }
     ::ng-deep .ant-upload.ant-upload-drag .ant-upload-drag-container {
        color: var(--primary-color);
        font-size: 16px;
        font-family: 'GoogleSans-Medium';
    }
     ::ng-deep .ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover .ant-upload-drag-container {
        color: var(--primary-color);
    }
    .btn {
        border-radius: 4px;
        width: 150px;
    }
    .upload-two-card {
         ::ng-deep .ant-upload.ant-upload-drag {
            height: 120px;
            width: 120px;
            margin-right: 20px;
            .anticon {
                font-size: 22px;
                display: block;
                margin-bottom: 5px;
            }
        }
    }
}