<div class="header-section">
    <div class="header-inner-menu container">
        <div class="header-inner-body">
            <ul nz-menu nzMode="horizontal">
                <li nz-menu-item routerLink='/auth/login' routerLinkActive="active">
                    Login
                </li>
                <li routerLink="/auth/signup" routerLinkActive="active" nz-menu-item>
                    Signup
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="auth-section">
    <div class="auth-form">
        <div class="auth-title center mb-3">Forgot Password</div>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm)">
            <nz-form-item class="display-block">
                <nz-form-control  nzErrorTip="The input is not valid E-mail!">
                <nz-form-label nzFor="email">Email Id</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="email" placeholder="email is Required" type="email" />
                </nz-form-control>
                </nz-form-control>
            </nz-form-item>
            <button class="btn mt-2" nz-button [disabled]="forgotPasswordForm.invalid">Confirm</button>
        </form>
    </div>
</div>