<div class="main-body pl-10">
    <div class="security-section">
        <h1 class="mb-3">Security</h1>
        <form nz-form>
            <div nz-row>
                <div nz-col nzSm="24" nzLg="8">
                    <nz-form-item class="display-block">
                        <nz-form-label nzFor="password">Current Password</nz-form-label>
                        <nz-form-control>
                            <input nz-input name="password" type="password" id="password">
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="display-block">
                        <nz-form-label nzFor="password">New Password</nz-form-label>
                        <nz-form-control>
                            <input nz-input name="password" type="password" id="password">
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="display-block">
                        <nz-form-label nzFor="confirmpassword">Confirm Password</nz-form-label>
                        <nz-form-control>
                            <input nz-input name="confirmpassword" type="password" id="confirmpassword">
                        </nz-form-control>
                    </nz-form-item>
                    <button class="btn mt-2" nz-button>Save</button>
                </div>
            </div>
        </form>
    </div>
</div>