<div class="main-body pl-10">
    <div class="profile-section">
        <h1 class="mb-3">Personal Details</h1>
        <form nz-form>
            <div nz-row>
                <div nz-col nzSm="24" nzLg="18">
                    <div nz-row>
                        <div nz-col nzSm="24" nzLg="8" class="pr-2">
                            <nz-form-item class="display-block">
                                <nz-form-label nzFor="name">Prefix</nz-form-label>
                                <nz-form-control>
                                    <nz-select ngModel="Dr." [ngModelOptions]="{standalone: true}">
                                        <nz-option nzValue="Dr." nzLabel="Dr."></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item class="display-block">
                                <nz-form-label nzFor="name">Gender</nz-form-label>
                                <nz-form-control>
                                    <nz-radio-group [(ngModel)]="radioValue" [ngModelOptions]="{standalone: true}">
                                        <label nz-radio nzValue="A">Male</label>
                                        <label nz-radio nzValue="B">Female</label>
                                        <label nz-radio nzValue="C">Other</label>
                                    </nz-radio-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSm="24" nzLg="16" class="pl-2">
                            <nz-form-item class="display-block">
                                <nz-form-label nzFor="name">Name</nz-form-label>
                                <nz-form-control>
                                    <input nz-input name="name" type="name" id="name">
                                </nz-form-control>
                            </nz-form-item>
                            <div nz-row>
                                <div nz-col nzSm="24" nzLg="12" class="pr-2">
                                    <nz-form-item class="display-block">
                                        <nz-form-label nzFor="name">City</nz-form-label>
                                        <nz-form-control>
                                            <nz-select ngModel="selectedValue" nzPlaceHolder="Select City" [ngModelOptions]="{standalone: true}">
                                                <nz-option nzValue="Pondicherry" nzLabel="Pondicherry"></nz-option>
                                                <nz-option nzValue="Chennai" nzLabel="Chennai"></nz-option>
                                                <nz-option nzValue="Delhi" nzLabel="Delhi"></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col nzSm="24" nzLg="12" class="pl-2">
                                    <nz-form-item class="display-block">
                                        <nz-form-label nzFor="name">Year of Experience</nz-form-label>
                                        <nz-form-control>
                                            <input nz-input name="name" type="name" id="name">
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                        </div>
                        <div nz-col nzSm="24" nzLg="24">
                            <nz-form-item class="display-block">
                                <nz-form-label nzFor="name">About Me</nz-form-label>
                                <nz-form-control>
                                    <textarea rows="4" nz-input [(ngModel)]="inputValue"></textarea>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSm="24" nzLg="24">
                            <nz-form-item class="display-block">
                                <nz-form-label nzFor="name">Profile Photo</nz-form-label>
                                <nz-form-control>
                                    <nz-upload nzType="drag" [nzMultiple]="true" nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76" (nzChange)="handleChange($event)">
                                        <p class="ant-upload-text">Drag or Upload Photo</p>
                                        <!-- <p class="ant-upload-hint">
                                            Support for a single or bulk upload. Strictly prohibit from uploading company data or other band files
                                        </p> -->
                                    </nz-upload>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn mt-2" nz-button>Save</button>
        </form>
    </div>
</div>