<div class="header-section">
    <div class="header-inner-menu container">
        <div class="header-inner-body">
            <ul nz-menu nzMode="horizontal">
                <li nz-menu-item routerLink='/auth/login' routerLinkActive="active">
                    Login
                </li>
                <li routerLink="/auth/signup" routerLinkActive="active" nz-menu-item>
                    Signup
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="auth-section">
    <div class="auth-form">
        <div class="auth-title center mb-3">Reset Password</div>
        <form [formGroup]="resetPassword" (ngSubmit)="reset()">
            <nz-form-item>
                <nz-form-label nzFor="password">Password</nz-form-label>
                <nz-form-control>
                    <nz-form-control nzErrorTip="Please input your Confirm password!">
                        <input nz-input formControlName="password" placeholder="password is Required" type="password" />
                </nz-form-control>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFor="confirmpassword">Confirm Password</nz-form-label>
                <nz-form-control>
                    <nz-form-control nzErrorTip="Please input your Confirm password!">
                        <input nz-input formControlName="confirmPassword" placeholder="Confirmpassword is Required" type="password" />
                </nz-form-control>
                </nz-form-control>
            </nz-form-item>
            <button class="btn mt-2" nz-button [disabled]="resetPassword.invalid">Confirm</button>
        </form>
    </div>
</div>