<div class="main-layout">
    <div class="main-inner-layout pl-5 pr-5">
        <div class="setting-section mt-3 mb-3">
            <div class="card card-padding">
                <h1 class="mb-3">Settings</h1>
                <div nz-row>
                    <div nz-col nzSm="24" nzLg="24">
                        <nz-tabset nzTabPosition="left">
                            <nz-tab nzTitle="Account">
                                <app-profile></app-profile>
                            </nz-tab>
                            <nz-tab nzTitle="Security">
                                <app-security></app-security>
                            </nz-tab>
                            <nz-tab nzTitle="Upload Documents">
                                <app-upload-document></app-upload-document>
                            </nz-tab>
                            <nz-tab nzTitle="Notification">
                                Content of Tab Pane 3
                            </nz-tab>
                        </nz-tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>